<!DOCTYPE html>
<html>
<head>
  <title>Random Joke Generator</title>
</head>
<body>

  <h1>Random Joke Generator</h1>

  <hr>

  <p><%- joke %></p>

  <form action="/" method="GET">
    <button type="submit">Next Joke</button>
  </form>

</body>
</html>